@font-face {font-family: 'Tinos';font-weight:bold;font-style:normal;src: url("xarawdgeneratedhtmlfont4.woff") format("woff");}
@font-face {font-family: 'Tinos';font-weight:bold;font-style:normal;src: url("xarawdgeneratedhtmlfont5.woff") format("woff");}
@font-face {font-family: 'Tinos';font-weight:normal;font-style:normal;src: url("xarawdgeneratedhtmlfont6.woff") format("woff");}
